/*=============== reset ===================*/

html, body {
	padding: 0;
	margin: 0;
}

html {
	font-size: 1em;
}

body {
	font-size: 100%;
	max-width: 960px;
	font-family: "trebuchet ms", georgia, sans-serif;
	margin: 0 auto;
}

a img, :link img, :visited img {
	border: 0;
}

h1, h2, h3, h4 {
	color: #12A23E;
}

h2 {
	font-size: 1.1em;
}

h3 {
	font-size: .9em; 
}

#wrapper {
	width: 100%;
}

/*=============== nav ===================*/

header {
	background-color: #2266A9;
	width: 99.9%;
	-moz-box-shadow: 0px 5px 2px #000; /* Says CSS doesnt exist. My assumption is it does not work in anything other than CSS3 - Will ignore all that follow */
	-webkit-box-shadow: 0px 5px 2px #000; /* Says CSS doesnt exist. My assumption is it does not work in anything other than CSS3 - Will ignore all that follow */
	box-shadow: 0px 5px 2px #000; /* Says CSS doesnt exist. My assumption is it does not work in anything other than CSS3 - Will ignore all that follow */
}

#logo {
	width: 26.875%;
}

.headerphoto1 {
	margin: 0% 9.89583% 6.25% 10.9375%; /*0px 95px 60px 105px;*/
}

.headerphoto2 {
	margin: 0% 0% 6.25% 9.375%; /*0px 0px 60px 90px;*/
}

#slepush {
	display: none;
}

#navbar {
	margin: 0;
	padding: 0;
	height: 1em; 
}

#navbar li {
	list-style: none;
	float: left; 
	-moz-box-shadow: 0px 5px 2px #000;
	-webkit-box-shadow: 0px 5px 2px #000;
	box-shadow: 0px 5px 2px #000;
}

#navbar li a {
	display: block;
	padding: 12px 65.47px;
	background-color: #02284F;
	color: #fff;
	text-decoration: none; 
}

#navbar li ul {
	display: none; 
	width: 11em; /* Opera fix */
	background-color: #69f;
	padding: 12px 65.47px;
}
	
#navbar li:hover ul {
	display: block;
	position: absolute;
	margin: 0;
	padding: 0;
}

#navbar li:hover li {
	float: none;
}

#navbar li:hover li a {
	background-color: #2266A9;
	border-bottom: 1px solid #fff;
	color: #000; 
}

#navbar li li a:hover {
	background-color: #2266A9; 
}


/*=============== home ===================*/

#welcome {
	background-color: #02284F;
	float:left;
	width: 45.3125%; /*435px;*/
	margin-top: 50px;
	font-size: 1em;
	color: #CDCED7;
	text-align: justify;
	-moz-box-shadow: 0px 5px 2px #000;
	-webkit-box-shadow: 0px 5px 2px #000;
	box-shadow: 0px 5px 2px #000;
	
}

.welcomephoto {
	padding: 5.74712% 8.04597% 0% 11%; /*25px 35px 0px 35px;*/
	width: 78.47826%;

}

#welcome h3 {
	padding-left: 11%;
	font-size: .75em;
}

#welcomemessage {
	font-size: .75em;
	width: 78.75862%; 
	padding-left: 11% /*35px;*/	
}

#news {
	padding: 6%;
	float: right;
}

#news li {
	padding: 3%;
}

#profileleft {
	margin-top: 5%; /*50px;*/
	clear: both;
	width: 45.3125%; /*435px;*/
	background-color: #02284F;
	float: left;
	-moz-box-shadow: 0px 5px 2px #000;
	-webkit-box-shadow: 0px 5px 2px #000;
	box-shadow: 0px 5px 2px #000;
}

#profileright {
	margin-top: 5%;	
	width: 45.3125%; /*435px;*/
	background-color: #02284F;
	float: right;	
	-moz-box-shadow: 0px 5px 2px #000;
	-webkit-box-shadow: 0px 5px 2px #000;
	box-shadow: 0px 5px 2px #000;
}

.profilephotos {
	padding: 7.04712% 1.14942% 5.74712% 8.04597%; 
	float: left;
	width: 38.62068%;
}

#profileright p {
	padding-top: 5%;
	text-align: center;
	color: #CDCED7;
}

#profileleft p {
	padding-top: 5%;
	text-align: center;
	color: #CDCED7;
}

.profiletitle {
	color: #12A23E;
	font-weight: bold;
}

#commitment {
	clear: both;
	padding: 5% 0%;	
}

#commitment h2 {

	text-align: center;
}

footer {
	clear: both;
	text-align: center;
	padding: 5% 0% 0% 0%;
}

/*=============== about ===================*/

.hcenter {
	text-align: center;
	padding: 5% 0% 0%;
}

#about {
	float: left;
	width: 45.3125%; /*435px;*/
	text-align: justify;
}

#about h3, #tech h3 {
	text-align: center;
}

#tech {
	float: right;
	width: 45.3125%; /*435px;*/
	text-align: justify;
}

#schedulewrapper {
	width: 45.3125%; /*435px;*/
	clear: both;
}

#schedule {
	clear: both;
	width: 100%;
	padding: 5.74712% 8.04597%; /*25px 35px;*/ 
	float: left;
	background: #02284F;
	border-radius: .3em 0 0 .3em;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	clear: both;
	-moz-box-shadow: 0px 5px 2px #000;
	-webkit-box-shadow: 0px 5px 2px #000;
	box-shadow: 0px 5px 2px #000;
}

td {
	border: 1px solid #fff;
	text-align: center;
	padding: 0.3em;
	color: white;
}

th {
	text-align: center;
	background-color: #f09500;
	color: #fff;
	padding: 0.3em;
	border: 1px solid #fff;
}

#factswrapper {
	width: 45.3125%; /*435px;*/
	float: right;
}

#registration {
	clear: both;
}


/*=============== contact ===================*/

#schooladdress {
	padding: 1%;
	background-color: #02284F;
	margin: 5% 0% 2%;
	text-align: center;
	color: #CDCED7;
	font-weight:bold;
	-moz-box-shadow: 0px 5px 2px #000;
	-webkit-box-shadow: 0px 5px 2px #000;
	box-shadow: 0px 5px 2px #000;
}

.myform{
	margin:0 auto;
	width: 41.66666%; /*400px;*/
	padding:3.5%; /*14px;*/
	-moz-box-shadow: 0px 5px 2px #000;
	-webkit-box-shadow: 0px 5px 2px #000;
	box-shadow: 0px 5px 2px #000;
}

#stylized{
	border:solid 2px #2266A9;
	background: #02284F;
}

#stylized p{
	font-size: .6875em; /*11px;*/
	color:#CDCED7;
	margin-bottom: 5%; /*20px;*/
	border-bottom:solid 1px #EFF200;
	padding-bottom: 5%; /*10px;*/
	text-align: center;
}

#stylized label{
	display:block;
	font-weight:bold;
	text-align:right;
	width:35%; /*140px;*/
	float:left;
	color: #2266A9;
}

#stylized .small{
	color:#CDCED7;
	display:block;
	font-size:11px;
	font-weight:normal;
	text-align:right;
	width: 100%; /*140px;*/
}

#stylized input{
	float:left;
	font-size: .75em; /*12px;*/
	padding: 1% .5%; /*4px 2px;*/
	border:solid 1px #aacfe4;
	width: 50%; /*200px;*/
	margin: .5% 0% 5% 2.5%; /*2px 0 20px 10px;*/
}

#stylized button{
	clear:both;
	margin-left: 37.5%; /*150px;*/
	width: 31.25%; /*125px;*/
	height:31px;
	background:#2266A9; 
	text-align:center;
	line-height:28px;
	color:#FFFFFF;
	font-size: .6875em; /*11px;*/
	font-weight:bold;
}

textarea {
	float:left;
	font-size: 1em;
	padding: 1% .5%; /*4px 2px;*/
	border:solid 1px #aacfe4;
	width: 50%; /*200px;*/
	margin: .5% 0% 5% 2.5%; /*2px 0 20px 10px;*/
}

/*=============== policies ===================*/

#internet {
	float: left;
	width: 45.3125%; /*435px;*/
	text-align: justify;
}

#photovideo {
	float: right;
	width: 45.3125%; /*435px;*/
	text-align: justify;
}

#attendance {
	clear: both;
}

/*=============== newsletters ===================*/

#newsletters {
	clear: both;
	width: 100%;
	padding: 5.74712% 8.04597%; /*25px 35px;*/ 
	float: left;
	background: #02284F;
	border-radius: .3em 0 0 .3em;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	clear: both;
	-moz-box-shadow: 0px 5px 2px #000;
	-webkit-box-shadow: 0px 5px 2px #000;
	box-shadow: 0px 5px 2px #000;
}

#newsletters a {
	color: #EFF200;
}

#instructions {
	color: #2266A9;
}

/*=============== uniforms ===================*/

#uniforms {
	background-color: #02284F;
	float:left;
	width: 45.3125%; /*435px;*/
	margin-top: 50px;
	font-size: 1em;
	color: #CDCED7;
	text-align: justify;
	-moz-box-shadow: 0px 5px 2px #000;
	-webkit-box-shadow: 0px 5px 2px #000;
	box-shadow: 0px 5px 2px #000;
}

#polokid {
	padding: 5.74712% 8.04597% 0% 11%; /*25px 35px 0px 35px;*/
	width: 78.47826%;
}

#uniforminstructions {
	float: right;
	padding: 5% 0% 0% 0%;
}

#uniforminstructions li {
	padding: 5%;
}

#sampleuniform {
	font-size: .75em;
	width: 78.47826%; /*360px;*/
	padding-left: 11% /*35px;*/
}

#uniformheader {
	padding-left: 11%;
	font-size: .75em;
}
/* =============================== Media Queries ======================================== */

/*Tablet size to standard 960 (devices and browsers) */
@media screen and (max-width: 767px) and (max-width: 959px) {
	#navbar li a {padding: 1.25% 50%;}


/*Tablet size to standard 960 (devices and browsers) */
@media screen and (min-width: 480px) and (max-width: 767px) {
	#navbar li a {padding: 1.25% 50%;}
	#about {float: none; width: 100%;}
	#tech {float: none; width: 100%;}
	#schedulewrapper {float: none; width: 50%; margin-left: 25%;}
	#factswrapper {float: none; width: 50%; margin-left: 25%;}
}

/*Tablet size to standard 960 (devices and browsers) */
@media screen and (max-width: 479px) {
	#navbar li a {padding: 1.25% 50%;}
	#welcome {margin-left: 25%;}
	#about {float: none; width: 100%;}
	#tech {float: none; width: 100%;}
	#schedulewrapper {float: none; width: 50%; margin-left: 25%;}
	#factswrapper {float: none; width: 50%; margin-left: 25%;}
}



